/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/*************************** Variables CSS *****************************/
:root {
    --background-color: #000; 
    --text-color: #fff; 
    --hover-color: #61ff74;
    --padding: 10px; 
    --margin: 10px; 
    --font-type: Arial, sans-serif; 
    --font-weight: 400; 
    --font-family: Arial, sans-serif; 
    --nav-title-align: right; 
    --nav-list-align: left; 
}

/******************************* BASE **********************************/
*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color); 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

h1 {
    font-size: 55px;
    display: flex; 
    justify-content: center;
}

h2, h4 {
    color: var(--title-color); 
    font-family: var(--title-font);
    font-weight: var(--font-medium); 
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: bold;
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

img {
    max-width: 100%; 
    height: auto;
}

/************************* Page Preloading ***************************/
#body_content {
    display: none;
}

/* #preloader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
} */

/**************************** Header ******************************/
.header {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    width: 100%; 
    height: 60px; 
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.logo {
    /* margin-left: 20px; */
    border-radius: 5px;
    margin-top: 10px;
}

.nav_list {
    display: flex; 
    gap: 2rem;
    /* padding-right: 20px; */
}

/* .nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
} */

/* .nav_list li {
    float: right;
} */

.nav_list li a {
    /* display: block; */
    color: var(--text-color);
    /* text-align: center; */
    padding: 12px 7px;
    /* text-decoration: none; */
}

.nav_list li a:hover {
    color: var(--hover-color);
}

.toggle_button {
    color: #fff; 
    cursor: pointer; 
    display: none;
    padding-right: 13px;
}

.dropdown_menu {
    display: none;
    position: absolute; 
    right: 2rem; 
    top: 60px; 
    width: 300px; 
    height: 0;
    background: #000;
    backdrop-filter: blur(15px);
    border-radius: 10px; 
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 170px;
    border: 2px solid #fff;
}

.dropdown_menu li {
    padding: 0.7rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.dropdown_menu li a {
    color: var(--text-color);
    font-weight: bold;
}

.dropdown_menu li a:hover {
    color: var(--hover-color);
}

/**************************** Main ********************************/
.main {
    background-color: var(--background-color);
    color: var(--text-color);
}

.section {
    padding: 15px;
}

/* About Section */
.about-paragraph {
    font-size: 25px;
    padding: 0 300px 0 300px;
    text-align: center;
}

/* Try Section */ 
.try-paragraph {
    font-size: 20px;
    padding: 0 300px 0 300px;
    text-align: center;
    margin-bottom: 25px;
}

.uploadImage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.input-group {
    display: flex; 
    align-items: center;
    margin-left: 34px;
}

.input-group label {
    margin-right: 5px;
}

.uploadImage-form button {
    margin-top: 10px;
}

.uploadImage-form button:hover {
    font-weight: bold;
    background-color: var(--hover-color);
}

.originalImage-container,
.replicatedImage-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.donwload-button {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.donwload-button button:hover {
    font-weight: bold;
    background-color: var(--hover-color);
}

#originalImage,
#replicatedImage {
    max-width: 100%;
    margin-top: -15px;
}

/* FAQ Section */ 
#faq h2 {
    margin-top: 30px;
}

.faq_content {
    display: flex;
    justify-content: center;
}

dl {
    padding: 0 250px 0 250px;
    text-align: left;
}

dt {
    /* padding-left: 100px; */
    padding: 0 100px 0 100px;
}

dd {
    margin-bottom: 20px;
    padding: 0 100px 0 100px;
}

/* Contact Section */ 
#contact.section {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.contact-form input {
    margin-bottom: 15px;
    border-radius: 7px;
}

.contact-form textarea {
    height: 100px; 
    width: 500px;
    resize: none;
    font-family: sans-serif;
    border-radius: 5px;
}

.contact-form input:hover, 
.contact-form textarea:hover {
    background-color: var(--hover-color);
}

.submit-button:hover {
    background-color: var(--hover-color);
    font-weight: bold;
}

/*********************** Loading Spinner ***************************/
.loading {
    margin: 20px auto; 
    padding-top: 50px; 
    box-sizing: border-box; 
    font-family: consolas; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 50vh;
    position: relative; 
    width: 250px; 
    height: 250px; 
    animation: animateBackgroundColor 10s linear infinite;
}
@keyframes animateBackgroundColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.loading .blocks {
    position: absolute; 
    width: 8px; 
    height: 25px; 
    background: #050c09;
    left: 50%;
    border-radius: 8px;
    transform: rotate(calc(18deg * var(--i)));
    transform-origin: 0 125px;
    animation: animate 1.9s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
}
@keyframes animate {
    0%, 50% {
        /* background-color: none;  */
        box-shadow: none;
    }
    50.1%, 100% {
        background: #0f0; 
        box-shadow: 0 0 5px #0f0, 
                    0 0 15px #0f0, 
                    0 0 30px #0f0, 
                    0 0 60px #0f0, 
                    0 0 90px #0f0, ;
    }
}

.spinner_text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 2px;
    animation: animateText 2s ease-in-out infinite; 
    animation-delay: -1s;
}

@keyframes animateText {
    0%, 50% {
        background-color: none; 
        text-shadow: none;
    }
    50.1%, 100% {
        text-shadow: 0 0 5px #0f0, 
                    0 0 15px #0f0;
    }
}

/**************************** Footer ******************************/
.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    border-top: 1px solid #fff;
    margin: 60px 40px 0 20px;
}

.footer__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__nav li {
    display: inline;
    margin: 0 20px 0 20px;
}

.footer__nav li a {
    color: var(--text-color);
    text-decoration: none;
}

.footer__nav li a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

.footer__copyright {
    margin: 25px 0 0 0;
}

/**************************** Responsive ******************************/
/* Smaller devices */
@media screen and (max-width: 360px) {
    /* Header section */
    .logo {
        margin-left: 5px;
    }
    /* toggle menu */
    .nav_list {
        display: none;
    }
    .toggle_button {
        display: block;
    }
    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }

    /* About section */
    h1 {
        font-size: 25px;
        text-align: center;
    }
    .about-paragraph {
        font-size: 18px;
        padding: 0 10px 0 10px;
    }

    /* Try Section  */
    .try-paragraph {
        font-size: 16px;
        padding: 0 10px 0 10px;
    }
    .input-group {
        display: block; 
    }
    .input-group label {
        padding-right: 30px;
        display: flex; 
        justify-content: center;
    }

    /* FAQ section */
    dl {
        padding: 0; 
    }
    dt {
        padding: 5px;
    }
    dd {
        padding: 0;
    }

    /* Contact Section */ 
    .contact-form textarea {
        width: 220px;
    }

    /* Footer Section */
    .footer__nav li {
        display: block;
        margin-bottom: 15px;
    }
}

/* Small devices (mobiles) */ 
@media (min-width: 360px) and (max-width: 414px) {
    /* Header section */
    .logo {
        margin-left: 10px;
    }
    /* toggle menu */
    .nav_list {
        display: none;
    }
    .toggle_button {
        display: block;
    }
    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }

    /* About Section */ 
    h1 {
        font-size: 35px;
        text-align: center;
    }
    .about-paragraph {
        font-size: 20px;
        padding: 0 10px 0 10px;
    }

    /* Try Section  */
    .try-paragraph {
        font-size: 18px;
        padding: 0 10px 0 10px;
    }
    .input-group {
        display: block; 
    }
    .input-group label {
        padding-right: 30px;
        display: flex; 
        justify-content: center;
    }

    /* FAQ Section  */
    dl {
        padding: 0; 
    }
    dt {
        padding: 5px;
    }
    dd {
        padding: 0;
    }

    /* Contact Section */ 
    .contact-form textarea {
        width: 280px;
    }
}

/* Medium devices 1 */
@media (min-width: 414px) and (max-width: 600px) {
    /* Header section */
    .logo {
        margin-left: 10px;
    }
    /* toggle menu */
    .nav_list {
        display: none;
    }
    .toggle_button {
        display: block;
    }
    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }

    /* About section */
    h1 {
        font-size: 35px;
        text-align: center;
    }
    .about-paragraph {
        font-size: 22px;
        padding: 0 10px 0 10px;
    }

    /* Try Section  */
    .try-paragraph {
        font-size: 20px;
        padding: 0 10px 0 10px;
    }
    .input-group {
        display: block; 
    }
    .input-group label {
        padding-right: 30px;
        display: flex; 
        justify-content: center;
    }

    /* FAQ Section  */
    dl {
        padding: 0; 
    }
    dt {
        padding: 5px;
    }
    dd {
        padding: 0;
    }

    /* Contact Section */ 
    .contact-form textarea {
        height: 120px; 
        width: 360px;
        font-size: 15px;
    }
}

/* Medium devices 2 (tablets) */
@media (min-width: 601px) and (max-width: 1280px) {
    /* Header Section */
    .logo {
        margin-left: 10px;
    }
    .nav_list {
        padding-right: 20px;
    }
    /* About section */
    h1 {
        font-size: 45px;
        text-align: center;
    }
    .about-paragraph {
        padding: 0 25px 0 25px;
    }

    /* Try section */ 
    .try-paragraph {
        padding: 0 25px 0 25px;
    }

    /* FAQ Section  */
    dl {
        padding: 0; 
    }
    dt {
        padding: 0 80px 0 80px;
    }
    dd {
        margin-bottom: 20px;
        padding: 0 80px 0 80px;
    }

    /* Contact Section */ 
    .contact-form textarea {
        height: 120px; 
        width: 400px;
        font-size: 15px;
    }
}

/**************************** Scroll Settings ***************************/
/* Scroll Bar */
::-webkit-scrollbar {
    width: .6rem; 
    border-radius: .5rem; 
    background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(207, 4%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 4%, 55%);
}

/* Scroll up */
.scrollup {
    position: fixed; 
    right: 1rem; 
    bottom: -30%;  /* scrollup button is invisible unless higher than 350 viewport height */
    padding: .35rem; 
    font-size: .8rem;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: bottom .3s, transform .3s;
    border-radius: 20%;
    font-weight: bold;
    opacity: 0.5;
}

.scrollup:hover {
    transform: translateY(-.25rem);
    opacity: 1;
    background-color: var(--hover-color);
}

/* to show scrollup */
.show-scroll {
    bottom: 5rem;
}

/************************** Preloader Settings *************************/
.preloader {
    margin: 20px auto; 
    padding-top: 50px; 
    box-sizing: border-box; 
    font-family: consolas; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 50vh;
    position: relative; 
    width: 250px; 
    height: 250px; 
    animation: animateBackgroundColor 10s linear infinite;
}
@keyframes animateBackgroundColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.preloader .blocks {
    position: absolute; 
    width: 8px; 
    height: 25px; 
    background: #050c09;
    left: 50%;
    border-radius: 8px;
    transform: rotate(calc(18deg * var(--i)));
    transform-origin: 0 125px;
    animation: animate 1.9s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
}
@keyframes animate {
    0%, 50% {
        /* background-color: none;  */
        box-shadow: none;
    }
    50.1%, 100% {
        background: #0f0; 
        box-shadow: 0 0 5px #0f0, 
                    0 0 15px #0f0, 
                    0 0 30px #0f0, 
                    0 0 60px #0f0, 
                    0 0 90px #0f0, ;
    }
}

.preloader_text {
    position: absolute; 
    top: 89%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 2px;
    animation: animateText 2s ease-in-out infinite; 
    animation-delay: -1s;
}

@keyframes animateText {
    0%, 50% {
        background-color: none; 
        text-shadow: none;
    }
    50.1%, 100% {
        text-shadow: 0 0 5px #0f0, 
                    0 0 15px #0f0;
    }
}

/*********** Responsive to adjust the position of spinner text *********/
/* iPhone 5/SE series and vertical screen */ 
@media screen and (min-height: 500px) and (min-width: 300px) {
    .preloader_text {
        top: 97%; 
    }
    .spinner_text {
        top: 60%; 
    }
}
/* iPhone 5/SE series and horizontal screen */
@media screen and (min-width: 500px) and (min-height: 300px) {
    .preloader_text {
        top: 103%; 
    }
    .spinner_text {
        top: 67%; 
    }
}

/* iPhone 6/7/8 series and vertical screen */
@media screen and (min-height: 600px) and (min-width: 300px) {
    .preloader_text {
        top: 90%; 
    }
    .spinner_text {
        top: 52%; 
    }
}
/* iPhone 6/7/8 series and horizontal screen */
@media screen and (min-width: 600px) and (min-height: 300px) {
    .preloader_text {
        top: 105%; 
    }
}

/* iPhone Pro series and vertical screen */
@media screen and (min-height: 700px) and (min-width: 400px) {
    .preloader_text {
        top: 87%; 
    }
    .spinner_text {
        top: 47%; 
    }
}

/* iPhone X/12-15 series and vertical screen */
@media screen and (min-height: 800px) and (min-width: 300px) {
    .preloader_text {
        top: 84%; 
    }
    .spinner_text {
        top: 42%; 
    }
}
/* iPhone X/12-15 series and horizontal screen */
@media screen and (min-width: 800px) and (min-height: 300px) {
    .preloader_text {
        top: 105%; 
    }
}

/* Small Table size and vertical screen */
@media screen and (min-height: 800px) and (min-width: 600px) {
    .preloader_text {
        top: 84%; 
    }
}
/* Small Table size and horizontal screen */
@media screen and (min-width: 800px) and (min-height: 600px) {
    .preloader_text {
        top: 95%; 
    }
    .spinner_text {
        top: 56%; 
    }
}

/* iPad series and vertical screen */
@media screen and (min-height: 1000px) and (min-width: 700px) {
    .preloader_text {
        top: 77%; 
    }
    .spinner_text {
        top: 33%; 
    }
}
/* iPad series and horizontal screen */
@media screen and (min-width: 1000px) and (min-height: 700px) {
    .preloader_text {
        top: 85%; 
    }
    .spinner_text {
        top: 45%; 
    }
}

/* iPad Pro series and vertical screen */
@media screen and (min-height: 1300px) and (min-width: 1000px) {
    .preloader_text {
        top: 70%; 
    }
    .spinner_text {
        top: 25%; 
    }
}
/* iPad Pro series and horizontal screen */
@media screen and (min-width: 1300px) and (min-height: 1000px) {
    .preloader_text {
        top: 77%; 
    }
    .spinner_text {
        top: 33%; 
    }
}

/* Laptop size and vertical screen (generally 1920x1080) */
@media screen and (min-height: 1000px) and (min-width: 1900px) {
    .preloader_text {
        top: 75%; 
    }
}
/* Laptop size and horizontal screen (generally 1080x1920) */
@media screen and (min-width: 1000px) and (min-height: 1900px) {
    .preloader_text {
        top: 64%; 
    }
    .spinner_text {
        top: 18%; 
    }
}

/* Desktop full screen size (generally 1920x945) */
@media screen and (min-height: 900px) and (min-width: 1900px) {
    .preloader_text {
        top: 78%; 
    }
    .spinner_text {
        top: 37%; 
    }
}

/* Desktop half screen size (generally 958x943) */
@media screen and (min-height: 900px) and (min-width: 900px) {
    .preloader_text {
        top: 78%; 
    }
    .spinner_text {
        top: 37%; 
    }
}

/* Middle large desktop half creen size (generally 1278x1303.33) */
@media screen and (min-height: 1300px) and (min-width: 1200px) {
    .spinner_text {
        top: 31%; 
    }
}

/* MacBook series and its default window size (generally 1440x678) */
@media screen and (min-height: 600px) and (min-width: 1400px) {
    .preloader_text {
        top: 88% !important; 
    }
    .spinner_text {
        top: 50% !important; 
    }
}

/* Larger desktop (iMac) full screen size (generally 2560x1440) */
@media screen and (min-height: 1300px) and (min-width: 2500px) {
    .preloader_text {
        top: 70% !important; 
    }
    .spinner_text {
        top: 25% !important; 
    }
}

/* Larger desktop (iMac) default window tap size (generally 1200x1199) */
@media screen and (min-height: 1100px) and (min-width: 1200px) {
    .preloader_text {
        top: 72%; 
    }
    .spinner_text {
        top: 29%; 
    }
}
